@use "./typography.scss";

:root {
    --sale-color: #E0119D;

    --text-color: #000000;
    --text-light-color: #FFFFFF;

    --background-color: #FFFFFF;
    --background-popup-color: #E0119D;
    --background-dark-color: black;
}
